
.scrollon { opacity: 0;transition: all 1s; }
.scrollon.active {opacity: 1 !important;transform: translate(0, 0) !important;}
.scrollon.scrollup { transform: translate(0, 100px); }

.scrollon .moving-outline circle {
  stroke-dasharray: 1320;
}
.scrollon.active .moving-outline circle{ animation: dash 1s linear forwards; }
.circle_txt.scrollon .circle_arr{ width: 50%; opacity: 0  ;}
.circle_txt.scrollon.active .circle_arr { animation: toright 1s 1s linear forwards; }

@keyframes dash {
  from { stroke-dashoffset: 1320;}
  to {
    stroke-dashoffset: 2640;
  }
}
@keyframes toright {
  to {
    opacity: 1;
    width: 170%;
  }
}