body { padding-bottom: 700px; }

.slick-dots { bottom: 9vh;}
.slidetxt { bottom: 10vh; font-size: 3.5vw;}

.hovertab { width: 100%; overflow: hidden;}

.reserv_cont { position: relative;}
.reserv_cont .left_cont {
  position: absolute;
  left: 0;
  top: 50px;
}
.reserv_cont .right_cont {
  position: absolute;
  top: 0;
  right: 0;
}
.reserv_cont .right_cont img { display: block; margin-left: auto;}
.reserv_cont .left_cont div:nth-child(1) { position: relative;left: 50px; z-index: 1;}
.reserv_cont .left_cont div:nth-child(2) { position: relative;left: -50px; top: 0}
.reserv_cont .left_cont div:nth-child(3) { position: relative;left: 100px;}
.reserv_cont .right_cont div:nth-child(1) { position: relative;left: -100px; }
.reserv_cont .right_cont div:nth-child(2) { position: relative;left:  0; top: -50px}
.reserv_cont .right_cont div:nth-child(3) { position: relative;left: -150px; }

.reserv_txt { position: relative; margin: auto;width: 420px; height: 420px; z-index: 9}
.reservation { position: relative; }
.circle_txt { font-size: 4rem; position: absolute; top: 40%; left: 30%; line-height: 1em; }
.circle_arr { position: relative;width: 170%; height: 1px; background-color: #121f29; }
.circle_arr:after {
  content: '';display: block;
  position: absolute;right: 5px; top: -10px;
  border-right: 1px solid #121f29;border-bottom: 1px solid #121f29;
  width: 20px; height: 20px; 
  transform: rotate(-45deg); 
}
.circle_small { font-size: 1.125rem; transform: translateX(10px); }
.concept {position: absolute; right: -40%; bottom: -20%;}
.concept .tit{ font-size: 2.5rem; }
.concept .txt { font-size: 0.9rem;line-height: 1.7em;}
.animated-title {
  font-size:11vw; height: 1em;  }
.animated-title .bonny {
  display: inline-block; 
  width: 8vw; height: 8vw; 
  background: url(../img/bonny_outline.png) no-repeat center center / contain;
}
.rollerwrap { 
  position: relative;
  font-size:11vw; height: 1em;  }
.rollerwrap .clone { padding-left: 2em; }
/* .rollerwrap  .txt { 
    position: absolute;top: 1em; left: 50%; transform: translateX(-50%);
    z-index: 9999;width: 100%;
    font-weight: 400;font-size: 2vw;color: #ffffff;text-align: center;}
.rollerwrap .rollerul > div { padding-right: 0;}
.rollerwrap .rollerul > div.clone { } */
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@media all and (max-width: 1024px) { 
  .reserv_cont .right_cont { display: none;}
  .reserv_txt { left: auto; right: 0;}
  .circle_txt { font-size: 3rem; }
  .concept { right: 0; bottom: -30%;}
  @keyframes toright {
    to {
      opacity: 1;
      width: 130%;
    }
  }
}
@media all and (max-width: 560px) {
  html {font-size: 14px;}
  .pt100 { padding-top: 50px;}
  
  #reserv .animated-title { margin-bottom: 50px; height: 15vw}
  #reserv .animated-title  .bonny { height: 13vw; width: 10vw }

  .reserv_cont{ display: flex;flex-wrap: wrap;}
  .reserv_txt{ order:2; display: flex;flex-wrap: wrap;position: relative; top: 0; left: auto; width: 100%; height: 100%; max-width: 420px;max-height: 420px;}
  .reserv_txt .reservation{ order: 2; width: 50vw; height: 50vw; margin-left: auto;}
  .reserv_txt .concept{ order: 1; position: relative; right: 0;padding-top: 50px;}
  .reserv_txt .circle_txt { font-size: 2rem; top: 35%;}
  .reserv_cont .left_cont { order: 1; position: relative;top: 0px; width: 100%;}
  .reserv_cont .left_cont div:nth-child(1) { 
    transform: translateX(0); z-index: 1;
    width: 70vw; height: 70vw; margin: auto;
  }
  .reserv_cont .left_cont div:nth-child(1) {
    left: 0;
  }
  .reserv_cont .left_cont div:nth-child(1) img {
    display: block; width: 100%; height: 100%; object-fit: cover;  }
  .reserv_cont .left_cont div:nth-child(2) { top: 100px; }
  .reserv_cont .left_cont div:nth-child(2) img { width: 30vw; display: block; margin-left: auto;}
  .reserv_cont .left_cont div:nth-child(3) { display: none;}

  .titwrap .titsub { font-size: 1.5rem;}
  .titwrap .tit {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -2px;
  } 

  .room { margin-bottom: 30px;}
}
