body { padding-bottom: 500px; }
h1 { font-family: "Calista";font-weight: 100;font-size: 9vw;text-transform: uppercase;text-align: center;margin-bottom: 0.8em;}
h1.h1_5 { font-size: 5vw; }
h2 { font-family: "Calista";font-weight: 100;font-size: 3.5vw;}
h3 { font-weight: 400;  font-size: 1.5rem; word-break: keep-all;}
h4 { font-weight: 700;  font-size: 1.125rem;}
.bigtxt { font-size: 1.5em; }
.imgbox img { width: 100%; height: 100%; object-fit: cover;}
.top img { width: 100%; height: 100%; object-fit: cover;}
.flex-around { display: flex; flex-wrap: wrap; justify-content: space-around;align-items: flex-start; height: auto;}
.flex-left { display: flex; flex-wrap: nowrap; justify-content: flex-start; }
.flex-leftwrap { display: flex; flex-wrap: wrap; justify-content: flex-start; }
.flex-space { display: flex; flex-wrap: nowrap; justify-content: space-between; }
.flex-spacewrap { display: flex; flex-wrap: wrap; justify-content: space-between; }
.flex-vcenter { display: flex; 
  flex-wrap: wrap; align-items: center;}
.flex-end { display: flex; flex-wrap: wrap; justify-content: flex-end;align-items: flex-end;align-content: flex-end; }

.contents { padding-top: 13vw; padding-bottom: 10vw;}
.btn_square { display:inline-block; padding: 1em 3em 0.5em; border: 1px solid var(--fontdefault); font-family: "Calista";
  font-weight: 400; color:var(--fontdefault);background-color: transparent;color: var(--fontdefault)
;transition: 1s;}
.btn_square:hover { border-radius: 30px; border-color:transparent;background-color: #00000060; color: #ffffff;}

.slick-dots { bottom: 7vh;}
.slidetxt { bottom: 10vh; font-size: 3.5vw; text-align: center;line-height: 1.5em;}
.slidetxt_small { font-size: 1.3rem;line-height: 1em; }

.tb-d1{ 
  border-collapse: collapse;
  width: 100%; 
  font-size: 0.8rem;
}
.tb-d1 .backstrong { background-color: #f8eada; }
.tb-d1 th { background-color: #eeeeee; font-weight: 700;padding: 10px;border: 1px solid #cccccc;vertical-align: middle; color: var(--shape); }
.tb-d1 td { background-color: #ffffff; padding: 10px;border: 1px solid #cccccc;vertical-align: middle; color: var(--shape); text-align: center; }
.tb-d2{ 
  border-collapse: collapse;
  font-size: 0.8rem;
}
.tb-d2 th { background-color: #000000; font-weight: 400;padding: 10px;vertical-align: middle; color: var(--background); }
.tb-d2 td { padding: 10px;vertical-align: middle; text-align: center; }

@media all and (max-width: 800px) { 
  body { padding-bottom: 600px !important; }
}

@media all and (max-width: 560px) { 
  html { font-size: 15px;}
  body { padding-bottom:400px !important; }
  h2 { font-size: 1.5rem}
  h3 { font-size: 1.1rem}
  .titwrap .titsub { font-size: 1.5rem;}
  .titwrap .tit {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -2px;
  } 
  .top div{ width: 100%; height: 50vh; }
  .slidetxt { font-size: 1.5rem !important; }
  .slidetxt_small {font-size: 1.1rem !important;}

  .btn_square { font-size: 0.9rem;padding: 1em 2em 0.5em;}
}