@import url(sub_common.css);

/* .sub1_view */ 
.sub1_view h2 { margin-bottom:1em; text-align: center;}
.sub1_view h3 { margin-bottom:1.5em; text-align: center;}
.sub1_view .sec1 { margin-bottom: calc(9vw * 0.8)}
.sub1_view .sec1 .imgbox {
  margin-bottom: 9vw;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.sub1_view .sec1 .txtcont {
  text-align: center;
  line-height: 2em;
  word-break: keep-all;
}

.sub1_view .sec2 .in {
  background: url(../img/bonny_back_right.png) no-repeat left 20px bottom / 15vw;
}
.sub1_view .sec2 .imgbox {position: relative; padding-top: 30px;}
.sub1_view .sec2 .imgbox::after { 
  content: url(../img/sub1_view_tape.png); display: block;
  position: absolute;
  top: 0; 
 }
 .sub1_view .sec2 .imgbox1 { width: 28vw;}
 .sub1_view .sec2 .imgbox1::after { left: 50%; transform: translate(-50%) scaleX(-1);}
 .sub1_view .sec2 .imgbox2 { width: 33vw; padding-right: 30px;}
 .sub1_view .sec2 .imgbox2::after { right: 0;}
 .sub1_view .sec2 .imgbox3 { width: 23vw;padding-left: 40px;left: 20%}
 .sub1_view .sec2 .imgbox3::after { top: 10px;left: 0; transform: rotate(-20deg) scaleX(-1);}
 .sub1_view .sec2 .grid {
  display: grid;

  grid-template-areas:
  "a b"
  "a c"
  ". d";
  grid-row-gap: 0; 
  grid-column-gap: 20px;
}
.sub1_view .sec2 .grid .area1 { grid-area: a;}
.sub1_view .sec2 .grid .area2 { grid-area: b; height: 20em; text-align: right;}
.sub1_view .sec2 .grid .area3 { grid-area: c; position: relative; top: 100px;
  margin-left: auto;
  text-align: right;}
  .sub1_view .sec2 .grid .area4 { grid-area: d; position: relative;}
  .sub1_view .sec2 .imgtxt { overflow-x: hidden;}
  .sub1_view .sec2 .imgtxt-in { margin-bottom: 2em; line-height: 1.5em;width: 100%;}
@media all and (max-width: 560px) {
  .sub1_view .sec1 .txtcont { font-size: 0.9rem;}
  .sub1_view .sec2 .in { background: none; }
  .sub1_view .sec2 .grid {
    /* display: block; */
    grid-template-areas:
  "a"
  "c"
  "d"
  "b";
  }
  .sub1_view .sec2 .grid .area2 { margin-top: 50px;text-align: left;}
  .sub1_view .sec2 .imgbox1 { width: 100%; }
  .sub1_view .sec2 .imgbox2 { width: 100%;top: 0 !important;}
  .sub1_view .sec2 .imgbox3 { width: 100%;top: 0}
  .sub1_view .sec2 .grid .area2 { height: auto; }
  .sub1_view .sec2 .imgbox3 { left: 0}
}
.sub1_view .imgtxt-in .typing-ani.active::after { animation-duration: 3s; }
.sub1_view .imgtxt-in2.typing-ani.active::after { animation-delay: 2s; }
.sub1_view .imgtxt-in3.typing-ani.active::after { animation-delay: 3s; }
.sub1_view .imgtxt-in4.typing-ani.active::after { animation-delay: 4.5s; }



/* .sub2_room  */
.sub2_room h3 {margin-bottom: 1em; }
.sub2_room .txtcont { line-height: 2em; margin-bottom: 3em;}
.sub2_room .sec1 .grid {
  display: grid;
  grid-template-columns: calc((100% - 15vw)/2) calc((100% - 15vw)/2)
  ;
  grid-template-areas:
  "a b"
  "a c";
  justify-content: space-around;
}
.sub2_room .sec1 .area1 { grid-area: a; height: 90vh; overflow: hidden; }
.sub2_room .sec1 .area2 { grid-area: b; padding-bottom: 50px;}
.sub2_room .sec1 .area3 { grid-area: c; }

.sub2_room .more { position: relative; padding: 1em;font-family: "Calista";
font-weight: 400; }
.sub2_room .more .icon { position: absolute; right: 0.5em;top: 50%; transform: translateY(-50%); }
.sub2_room .more .remove { display: none;}
.sub2_room .more .add { display: block;}
.sub2_room .more .icon.active .remove{ display: block;}
.sub2_room .more .icon.active .add{ display: none;}
.sub2_room .imgtxtbox {
  position: relative;
  font-size: 1.1rem;
  text-align: left;
  word-break: keep-all;
  line-height: 1.5em;
}
.sub2_room .imgtxtbox_in { font-size: 0.9rem; padding: 30px 1em 50px ; }
.sub2_room .imgtxtbox_in .span1 { display: block; flex: 0 0 auto;
  margin-right: 10px; font-weight: 700;}
.sub2_room .imgtxtbox_in .span2 { display: block; flex: 0 1 auto; }
.sub2_room .sec1 .price li { border-top: 1px solid var(--gray); }
.sub2_room .sec1 .price ul { border-bottom: 1px solid var(--gray); }

.sub2_room .sec2 { margin-bottom: 10vw;}
.sub2_room .sec2 .reserv_cont { position: relative; display: flex; flex-wrap: nowrap; justify-content: space-between; }
.sub2_room .sec2 .reserv_cont img { width: 100%;}
.sub2_room .sec2  .reserv_cont div:nth-child(1) { position: relative;left: 10vw; top: 30vw;z-index:2}
.sub2_room .sec2 .reserv_cont div:nth-child(2) { position: relative;left: 0px; top: 0; z-index:1}
.sub2_room .sec2 .reserv_cont div:nth-child(3) { position: relative;left: -5vw;top: 20vw;z-index:3}
.sub2_room .sec2 .reserv_cont div:nth-child(4) { position: relative;left: 0px;top: 40vw;z-index:4}
.sub2_room .sec2 .in { position: relative; }
.sub2_room .sec2 .typewrap { position: absolute; top: 20%;}
.sub2_room .sec2 .typingtxt1 { overflow: hidden;}
.sub2_room .sec2 .typingtxt1 p { width: 200%; position: relative; font-size: 1.5vw; color: #cccccc90;line-height: 1.5em; }
.sub2_room .sec2 .typingtxt1-2 { left: 30%; }
.sub2_room .typing-ani.active::after { animation-duration: 6s;}
.sub2_room .typingtxt1-2.typing-ani.active::after { animation-delay: 2s; }
.sub2_room .bigtxt { font-size: 1.3em; }

@media all and (max-width: 560px) {
.sub2_room .sec1 .grid { display: block; height: auto; }
.sub2_room .sec1 .area1 { margin-bottom: 50px; }
.sub2_room .sec1 .reser { text-align: center; }
.sub2_room .sec1 .txtcont { font-size: 0.9rem;text-align: center;}
.sub2_room .rightbox { width: 100%; }
.sub2_room .leftbox { width: 100%; }
.sub2_room .sec2 .typingtxt1 { overflow: hidden;}
.sub2_room .sec2 .typingtxt1 p { width: 500%; position: relative;font-size: 1rem}
.sub2_room .sec2 .typingtxt1-2 { left: 0; }
}


/*  .sub3_special   */
.sub3_special h1 { margin-bottom: 0;}
.sub3_special .sec1 .txtcont { text-align: center; line-height: 2em;}
.sub3_special .sec1 .imgbox { padding: 0 10vw; margin-top: 5vw; }
.sub3_special .centerslidewrap { position: relative; margin-bottom: 10vw; }
.sub3_special .centerslidewrap .txt { 
  position: absolute;top: 1em; left: 50%; transform: translateX(-50%);
  z-index: 9999;width: 100%;
  font-weight: 400;font-size: 2vw;color: #ffffff;text-align: center;line-height: 2em;}
.sub3_special .centerslidewrap img {width: 100%;}
.sub3_special .centerslidewrap .rollerwrap { height: 40vw; }
.sub3_special .centerslidewrap .rollerwrap .rollerul > div { padding: 0 20px;}
.sub3_special .sec2 { margin-bottom: calc(9vw * 0.8)  }
.sub3_special .sec2 .titwrap { text-align: right; padding-bottom: 3em;margin-bottom: 5em;padding-right: 20px; }
.sub3_special .sec2 .titwrap::after { 
  content: '';display: block;
  position: absolute; right:0; bottom: 0;
  width: 0;height: 1px;background-color: var(--gray);
  transition: width 1s;
}
.sub3_special .sec2 .tittxt  { color: #aaaaaa;font-family: 'Lato', sans-serif;font-weight: 100;}
.sub3_special .sec2 .titwrap.active::after { width: 80vw }
.sub3_special #offer { border: none;}
.sub3_special .hovertab { width: 100%; overflow: hidden; }
.sub3_special .typingtxt2.typing-ani.active::after { animation-delay: 1.5s; }
.sub3_special .rollerul > div { width: 25vw;}
@media all and (max-width: 560px) {
  .sub3_special .sec1 .imgbox { padding: 0; margin-top: 5vw; }
  .sub3_special .sec1 .txtcont { margin-top: 5vw;margin-bottom: 10vw;font-size: 0.9rem;text-align: center; line-height: 1.5em;}
  .sub3_special .rollerul > div { width: 50vw;}
  .sub3_special .centerslidewrap .txt { font-size: 0.8rem; }
  .sub3_special .centerslidewrap .txt p { display: inline; }
  .sub3_special .titwrap .tittxt {
      font-size: 0.9rem;
      line-height: 1.3em;
      font-family: "Pretendard";
      font-weight: 400;
  }
  .sub3_special .centerslidewrap {
      position: relative;
      margin-bottom: 20vw;
  }
}



/*  .sub4_tour   */

.sub4_tour .sec1 {position: relative;}
    
.sub4_tour .list_item { position: relative; width: calc((100% - 20vw) / 2); max-width:590px;margin-bottom: 10vw;font-size: 1.5625rem; text-align: center; overflow: hidden; }
.sub4_tour .list_item:nth-last-child(1), .sub4_tour .list_item:nth-last-child(2){ margin-bottom: 0;}

.sub4_tour .list_item .imgwrap { padding: 0 20px;}
.sub4_tour .imgbox { position: relative;}

.sub4_tour .list_item .imgtxt { padding-top: 1.5em;padding-bottom: 1.5em  }
.sub4_tour .list_item .tit { margin-bottom: 0.5em; }
.sub4_tour .list_item .subtit { font-size: 1rem; }

.sub4_tour .list_item .more { font-size: 0.875rem; padding:0 1em; text-align: right;}
.sub4_tour .list_item .icon { transform: translateY(6px); transition: 0.5s;}
.sub4_tour .list_item .icon.active { 
  transform: translateY(3px) rotate(225deg); transform-origin: center;}
.sub4_tour .imgtxtbox {
  position: relative;
  font-size: 1.1rem;
  text-align: left;
  word-break: keep-all;
  line-height: 1.5em;
  margin-top: 30px;
  padding: 0 30px;
}

.sub4_tour .moredelay { transition-delay: 0.5s;}
.sub4_tour .list_item  .moredelay.more::after { 
  content: '';display: block;
  width: 0; height:1px; margin-top: 0.5em; 
  background-color: var(--fontdefault);
  transition: width 0.5s 0.5s cubic-bezier(.57,.21,.69,1.25);
 }
 .sub4_tour .list_item .moredelay.more.active::after { width: 100%;}
 .sub4_tour .moredelay2 { transition-delay: 1s;}
 .sub4_tour .moredelay3 { transition-delay: 1.2s;}
 .sub4_tour .list_item .more.moredelay.delay2_moredelay::after { transition-delay: 1s;}

@media all and (max-width: 560px) {
  .sub4_tour .list_item { width: 100%; margin-bottom: 100px;}
  .sub4_tour .list_item:nth-last-child(1), .sub4_tour .list_item:nth-last-child(2) { margin-bottom: 100px; }
  .sub4_tour .imgtxtbox { font-size: 0.9rem;}
}



/*  .sub5_reser  */
.sub5_reser .txtwrap { width: 100%; height: 100%; overflow: auto;  margin-bottom: 5vw; }
.sub5_reser .leftwrap, .sub5_reser .rightwrap { 
  flex: 0 1 calc((100% - 5vw)/2);
  position: relative; }
.sub5_reser .sec1 .img1 { width: calc(100% - 10vw) }
.sub5_reser .sec1 .img2 { width: 50% }
.sub5_reser .sec1 .abs { position: absolute; right: 0;bottom: -100px; }
.sub5_reser .sec1 .titwrap { margin-bottom: 5vw;}
.sub5_reser .sec1 .span1 { display: inline-block; font-weight: 700;margin-right: 0.4em;word-break: keep-all; flex: 0 0 auto;}
.sub5_reser .sec1 .span2 { display: inline-block; word-break: keep-all;}
.sub5_reser .sec1 .imgtxtbox_in { font-size: 1rem; line-height: 2em;margin-bottom: 50px; }
.sub5_reser .sec1 .imgtxtbox_in.imgtxtbox_in2 { font-size: 0.8em;}
.sub5_reser .strong { font-size: 1.3em; color: var(--primary); letter-spacing: 2px;}
.sub5_reser .slash { flex: 0 0 auto}
.sub5_reser .slash::after { content: "/"; padding: 0 20px; }
.sub5_reser .slash:last-child::after { display: none;}
.sub5_reser .sec2 .titwrap { text-align: center; margin-bottom: 5vw; }
.sub5_reser .sec2 table { min-width: 700px; }
.sub5_reser .sec3 .titwrap { margin-bottom: 5vw;}
.sub5_reser .sec3 h4 { margin-bottom: 1em;}
.sub5_reser .sec3 .txt {line-height: 1.7em;}
.sub5_reser .sec4 { position: relative; margin-bottom: 10vw; text-align: center;}
.sub5_reser .sec3 .imgtxtbox_in { margin-bottom: 7vw;}
.sub5_reser .sec3 .txt {margin-bottom: 3vw;}
.sub5_reser .sec3 .txt li {display: flex;flex-wrap: nowrap; }
.sub5_reser .sec3 .txt li::before { content: "-";display: block;margin-right: 10px;flex: 0 0 auto;}
.sub5_reser .sec3 .txt li p {flex: 1 1 auto}
.sub5_reser .sec3 .txt .block { display: block; }
.sub5_reser .sec3 .img1 { width: 80%; margin-left: auto;}
.sub5_reser .sec3 .img2 { position: relative; top: -100px; width: 60%; }
.sub5_reser .sec3 .img3 { width: 50%; margin-left: auto;}
.sub5_reser .sec4 .abs { position: absolute; width: 100%; height: 100%; 
  top: 0; left: 0; color: #ffffff;font-size: 1.5vw; line-height: 2em;}
.sub5_reser #sky {
  background:url('../img/sub5_reservation_img6_2.png') center;
  background-size:120%;
  position:relative;
  width:100%;
  height:70vh;
  margin:0 auto;	
}		

.sub5_reser .sec5 { word-break: keep-all;}
.sub5_reser .sec5 .titwrap { text-align: center; margin-bottom: 5vw}
.sub5_reser .sec5 .txtcont {margin-bottom: 5vw;text-align: center;line-height: 2em; }
.sub5_reser .sec5 table { margin: 0 auto; font-size: 0.8rem;word-break: keep-all;
  min-width: 530px;}
/* .tb-d2 th:first-child p{ padding-left: 5%;}
.tb-d2 th:last-child p{ padding-right: 5%;} */
.sub5_reser .sec5 .subcont {  margin-bottom: 5vw;text-align: center;line-height: 2em; }
.sub5_reser .btnwrap { text-align: center;}


@media all and (max-width: 800px) {
  .sub5_reser .sec1 .abs { bottom: 50px; }
}
@media all and (max-width: 560px) {
  .sub5_reser  [class ^="flex-"]{ display: block; }
  .sub5_reser .contents {
    padding-top:50px;
    padding-bottom: 100px;
  }
  .sub5_reser  .sec1 .leftwrap { margin-bottom: 10vw; }
  .sub5_reser  .sec1 .imgtxtbox_in { margin-bottom: 0;}
  .sub5_reser  .sec4 .abs {font-size: 0.7rem;line-height: 1.5em;}
  .sub5_reser  h3 { font-size: 1.3rem}
  .sub5_reser  h4 { font-size: 1rem}
  .sub5_reser  .sec3 .titwrap { margin-bottom: 50px; }
  .sub5_reser  .sec3 .txtbox { margin-bottom: 50px; }
  .sub5_reser  #sky { height: 40vh; background-size:150%;}
  .sub5_reser  .sec5 .txtcont, .sub5_reser .sec5 .subcont { font-size: 0.9rem; line-height: 1.5em; margin-top: 50px; margin-bottom: 50px;}
}